* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1600px;
}

.header {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-naw {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.contact-link {
  flex-direction: row;
}

.contact-link:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  margin-right: 93px;
}

.accent {
  color: #2196f3;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: #2196f3;
}

.header-contacts-list {
  display: flex;
}

.header-contacts-list .header-contacts-link:hover .header-contacts-icon,
.header-contacts-list .header-contacts-link:focus .header-contacts-icon {
  fill: #2196f3;
}

.header-contacts-item {
  margin-right: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-item:focus, .header-contacts-item:hover {
  fill: #2196f3;
  color: #2196f3;
}

.header-contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover, .header-contacts-link:focus {
  color: #2196f3;
}

.header-contacts-icon {
  fill: #757575;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.activ {
  color: #2196f3;
  display: block;
}

.activ::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: -34px;
  border-radius: 10px;
}

.header-item {
  position: relative;
}

.heading {
  display: flex;
  justify-content: center;
  padding: 200px 0;
  text-align: center;
  background-color: #757575;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heading.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-heading {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: #ffffff;
}

.btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.advantage {
  padding: 94px;
}

.advantage-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
  justify-content: center;
}

.advantage-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-list {
  text-decoration: none;
  list-style: none;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.advantage-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-description {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.specialization {
  padding-bottom: 94px;
}

.specialization-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.specialization-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}

.specialization-item {
  position: relative;
}

.specialization-item:not(:last-child) {
  margin-right: 30px;
}

.caption {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
}

.team {
  background: #f5f4fa;
  padding: 94px 0;
}

.team-title {
  justify-content: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name-post {
  padding-top: 30px;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
  color: #afb1b8;
}

.social-item {
  width: 44px;
  height: 44px;
  color: #afb1b8;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  display: flex;
  fill: #afb1b8;
}

.social-link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #2196f3;
}

.clients {
  padding: 94px 0;
}

.clients-title {
  justify-content: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-icon {
  width: 106px;
  height: 60px;
  display: flex;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #757575;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  cursor: pointer;
  border-color: #2196f3;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.use:hover {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
}

.footer-contacts-container {
  margin-right: 70px;
}

.footer-logo {
  display: flex;
  margin-bottom: 20px;
  color: #ffffff;
}

.address {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.address-mail {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address-tel {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address-address {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.comin .social-icon {
  fill: #ffffff;
  color: #ffffff;
}

.comin-title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover .social-icon, .footer-social-link:focus .social-icon {
  color: #ffffff;
  fill: #ffffff;
}

.portfolio {
  padding: 94px 0;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-link {
  text-decoration: none;
  list-style: none;
}

.portfolio-link-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link-btn:focus, .portfolio-link-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.examples-item:focus, .examples-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-item:hover .examples-text {
  transform: translateY(0);
}

.examples-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  width: 100%;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-paragraph {
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.examples-title-paragraph {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.examples-wrapper {
  position: relative;
  overflow: hidden;
}

.examples-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.examples {
  text-decoration: none;
  list-style: none;
}

.backdrop {
  position: fixed;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 530px;
  height: 580px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  margin-bottom: 10px;
  margin-top: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #757575;
}

.modal-textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: transparent;
  outline: none;
}

.modal-textarea:focus {
  border-color: #2196f3;
}

.modal-input {
  padding-left: 42px;
  padding-right: 15px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .modal-svg {
  fill: #2196f3;
}

.modal-deal {
  font-size: 14px;
  line-height: 1.71;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

.modal-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-close:hover, .icon-close:focus {
  fill: #2196f3;
}

.form {
  margin-left: 93px;
}

.form-title {
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  line-height: calc 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  padding-left: 15px;
  color: #ffffff;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-ok {
  margin-left: 10px;
}

.check-deal {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #757575;
  display: flex;
  margin-bottom: 30px;
  margin-right: 7px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.modal-check {
  margin-right: 7px;
}

.deal {
  color: #2196f3;
}

.check-deal span {
  width: 16px;
  height: 16px;
  border: 2px solid #2196f3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:checked + .check-deal span {
  background-color: #2196f3;
  border: none;
}
/*# sourceMappingURL=main.css.map */